#section4{
    width:100%;
    background-color: black;
    position: relative;
    height:100vh;
    padding-top: 10vh;
    z-index: 100;
    /*border: 1px solid red;*/
}

#section4 .text{
    font-family: "Space Mono", monospace;
    text-shadow: #5fb7cf 0px 0px 10px;
    font-size: 20vh;
    text-decoration: none;
}